<!-- title: Contact -->
<h1>Contact</h1>
<ul>
<li>
Email: <a href="email:info@itsnotgov.org">info@itsnotgov.org</a>
</li>
<li>
Twitter: <a href="https://twitter.com/itsnotgov">@itsnotgov</a>
</li>
<li>
Mastodon: <a rel="me" href="https://liberdon.com/@itsnotgov">liberdon.com/@itsnotgov</a>
</li>
</ul>
