<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/roboto.css">
    <link rel="icon" type="image/png" href="/images/favicon-32.png"  sizes="32x32"  >
    <link rel="icon" type="image/png" href="/images/favicon-48.png"  sizes="48x48"  >
    <link rel="icon" type="image/png" href="/images/favicon-96.png"  sizes="96x96"  >
    <link rel="icon" type="image/png" href="/images/favicon-144.png" sizes="144x144">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/contact/">Contact</a>
        <a href="{{ base_path }}/about/">About</a>
    </span>
</section>
</nav>

<main>
{% block content %}{{ content }}{% endblock content %}
</main>

<footer>
<section>
<p>
    <a href="https://twitter.com/itsnotgov">Twitter</a>
    <a rel="me" href="https://liberdon.com/@itsnotgov">Liberdon (Mastodon)</a>
    <a href="{{ source_link }}">Source</a>
    <a href="/terms-of-service">Terms of Service</a>
    <a href="/privacy-policy">Privacy Policy</a>
</p>
</section>
</footer>

{% if analytics %}
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      _paq.push(['setTrackerUrl',  '{{ analytics.domain }}']);
      _paq.push(['setSiteId', 1]);
      _paq.push(['setApiToken', '{{ analytics.token }}']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src='{{ analytics.embedjs }}'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code -->
{% endif %}

</body>
</html>
