{% extends "page.html" %}
{% block content %}
<article class='story'>
<h4>
    <a href="/">Home</a> ⇒
    <a href="/{{ subcategory.category.link_path }}">{{ subcategory.category.title }}</a> ⇒
    <a href="/{{ subcategory.link_path }}">{{ subcategory.title }}</a> ⇒
</h4>
<h1><a href="/{{ link_path }}">{{ title }}</a></h1>
{{ content }}
</article>
{% endblock content %}
